<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div id="header"><div class="logo"><% include ../partials/logo.ejs %></div></div>
	<div class="page-container">        
            <div id='browse-wrapper'>
                <div class='card' id='browse-container'>   
                    <div class='word-card'>
                        <!-- <h3></h3> -->
                        <div class='word'> 
                            <p><%=data0 %></p> 
                            <a href="<%=dataInfo0 %>" target="_blank">More info</a>
                        </div>
                    </div>
                    <div class='word-card'>
                        <div class='word'>
                            <p><%=data1 %></p> 
                            <a href="<%=dataInfo1 %>" target="_blank">More info</a>
                        </div>
                    </div>
                    <div class='word-card'>
                        <div class='word'>
                            <p><%=data2 %></p> 
                            <a href="<%=dataInfo2 %>" target="_blank">More info</a>
                        </div>
                    </div>                                                                                        
                </div>
            </div>
      </div>
      <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>
</body>

</html>